<h1>You are applying for Serious Face!</h1>

<form action="/apply/submit" method="post">
<p>Character Name: <input type="text" name="charactername" value="Eclixisthebest">
<p>Current Server Name: <input type="text" name="servername" value="Proudmoore">
<p>Why Join SF?  <input type="text" name="whyjoin" value="Because I love Serious Face">

<button type="submit">Apply!</button>